*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header ul{
    background-color: cornflowerblue;
    top: 0;
    right: 0;
    text-align: right;
    padding: 10px;
}
header li{
    display: inline;
    right: 0;
    color: white;  
    margin-right: 3rem;
    cursor: pointer;
}

header h1{
    background-color: white;
    text-align: center;
    padding: 2rem;
    font-weight: lighter;
}

nav{
    /*this makes sure the header does not move at all while u scroll down on the page*/
    top: 8rem;/*places on top*/
    width: 100%;
    height: 6vh;
    padding-top: 8px;
    display: flex;
    justify-content: space-around;
    background-color:white
}

.nav-links{
    display: flex;
    justify-content: space-around;/*makes sure there is space betwen each link*/
    width: 40%;/*space between links specified*/
    list-style: none;/*removes bullet point on headings*/
    padding-top: 1vh;
}

.nav-links a{
   color: black;
   text-decoration: none; /*removes the underline under nav headings(hyperlinks)*/
    
}

.nav-links a:hover{/*this acces when the mouse hover our the nav links*/
    opacity: 0.7;/* allows link to be a darker colour when mouse is hoveing over the link*/
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.home{
    color: white;
    align-content: center;
    text-align: justify;
    background-image: url(jeans-background.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-image: cover;
    background-size: 100%;
    padding-top: 5vh;
}
.home h1{
    text-align:left;
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10rem;
    color: cornflowerblue;
}
.home p{
    padding-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-weight: bold;
    text-align: justify;
    color: cornflowerblue;
    font-size: 20px;
   
}

.home span{
    font-size: 60px;
}
.home-container{
    background-color: tomato;
}
.home img{
    width: 100px;
    height: 100px;
}


.jeans{
    background-color: white;
}
 .jeans h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 5rem;
    padding-top: 3rem;
    text-transform: uppercase;
    color: gray;
    font-weight: 400;
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img{
    padding: 0 20px 20px;
    text-align: center;
}

.single-img img{
    width: 300px;
    height: auto;
}

.jeans .overlay button{
    background-color: cornflowerblue;
    color: white;
    border: none;
}




.contact{
    padding: 1rem;
    background-color: gainsboro;
}

.container{
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 6rem;
}
.container h4{
    padding-bottom: 1rem;
    font-size: x-large;
}
.container li{
    list-style: none;/*removes bullet point on headings*/
    font-size: small;
    cursor: pointer;
}
.left-col, .right-col{
    width: 33%;
    float: left;
    text-align: justify;
}
.middle-col{
    width: 33%;
    float: left;
    text-align: justify;
}

